<html>
<head>
        
    @Html.Partial("../Shared/_Layout.cshtml")

</head>

<body class="text-center">
    <div class="background_image"></div>
    <div class="cover-container d-flex  p-0 pt-3  flex-column ">

        @Html.Partial("../Shared/_Navigation.cshtml")

            
        <main role="main" class="mt-5 d-flex flex-column wrapper" style="margin-top: calc(15vh)!important;">

                
            <h3 class="pt-4 pb-2" id="book_title"></h3>
            <h4 class="pt-0 pb-4" id="book_author"></h4>

            <form class="m-auto w-75">
                <div class="form-group col-6 m-0 float-left">
                    <label for="book_isbn">ISBN</label>
                    <input type="text" class="form-control" id="book_isbn" readonly value="">
                </div>
                <div class="form-group col-6 float-left">
                    <label for="book_year">Year</label>
                    <input type="text" class="form-control" id="book_year" readonly value="">
                </div>
                <div class="form-group col-6 float-left">
                    <label for="book_copies">Number of copies</label>
                    <input type="text" class="form-control" id="book_copies" value="">
                </div>
                <div class="form-group col-6 float-left">
                    <label for="book_price">Price</label>
                    <input type="text" class="form-control" id="book_price" value="">
                </div>
                <div class="form-group col-6 float-left">
                    <label for="book_call_number">Item call number</label>
                    <input type="text" class="form-control" id="book_call_number" value="">
                </div>
                <div class="form-group col-6 float-left">
                    <label for="book_publisher">Publisher code</label>
                    <input type="text" class="form-control" id="book_publisher" value=''>
                </div>
                <div class="form-group col-12 float-left ">
                    <div class="col-12 m-auto p-0">
                        <label for="book_edition">Edition statement</label>
                        <textarea class="form-control" height="4" id="book_edition"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-danger d-block m-2 float-left pl-5 pr-5 mb-3" onclick="book.bl.delete_book();">Delete</button>
                    <button type="button" class="btn btn-secondary d-block m-2 float-right pl-5 pr-5 mb-3" onclick="book.bl.save_book();">Save</button>
                    <button type="button" class="btn btn-secondary d-block m-2 float-right pl-5 pr-5 mb-3" onclick="book.bl.loan_book();">Loan</button>
                </div>


            </form>
                
        </main>

            

    </div>
</body>

<script>

    let book = {}

    book.bl = new function() {

        this.delete_book = async () => {

            let id = js.page.get_id();

            let url ="/api/books/delete?id=" + id;

            let res = await js.api.get(url);

            window.location.replace("/rest/allbooks");

            if(res.status == 200) {
                alert("Book successfully removed!");
            } else {
                alert("Error deleting the book!");
            }

        }

        this.save_book = async () => {

            let id = js.page.get_id();

            let url ="/api/books/save";

            let data = {};

            data.id = id;
            data.isbn = book_isbn.value;
            data.year = book_year.value;
            data.number_of_copies = book_copies.value;
            data.price = book_price.value;
            data.item_call_number = book_call_number.value;
            data.publisher_code = book_publisher.value;
            data.edition_statement = book_edition.value;


            let res = await js.api.post(url,data);

        }

        this.loan_book = async () => {

            if(!sessionStorage.getItem("user_id")) {
                alert("You must be logged in to loan books!")
                //window.location.href = "/home/login";
                return;
            } 

            let user_id = sessionStorage.getItem("user_id");

            let book_id = js.page.get_id();

            let url = "/api/loans/loan?book_id="+ book_id + "&user_id=" + user_id;

            await js.api.get(url);

            alert("Book successfuly loaned!");
            window.location.href = "/rest/allbooks";
            
        }

        this.load_book = async () => {

            let id = js.page.get_id();

            let url = "/api/books/get?id=" + id;

            let data = await js.api.get_json(url);

            console.log(data);

            book_title.innerText = data[0]['Title'];
            book_author.innerText = data[0]['Name'];

            book_isbn.value = data[0]['Isbn'];
            book_year.value = data[0]['Year'];
            book_copies.value = data[0]['Number_of_copies'];
            book_price.value = data[0]['Price'];
            book_call_number.value = data[0]['Item_call_number'];
            book_publisher.value = data[0]['Publisher_code'];
            book_edition.innerText = data[0]['Edition_statement'];

        }

    }

    document.onload(book.bl.load_book());

</script>

</html>
